<style>
    table {
        border-collapse: collapse;
    }

    td,
    th {
        border: 1px solid black;
    }
</style>

<section>
    <h1>OnlyTalent Collaborators list</h1>

    <input type="search" placeholder="Search a collaborator" ng-model="searchText" required>

    <table ng-init="edit = false">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th><button type="button" ng-click="edit = true">Edit</button></th>
            <th ng-if="edit == true">Name</th>
            <th ng-if="edit == true">Age</th>
            <th ng-if="edit == true">City</th>
        </tr>
        <tr ng-repeat="collaborator in $ctrl.collaborators | filter:searchText">
            <td>{{collaborator.name}}</td>
            <td>{{collaborator.age}}</td>
            <td>{{collaborator.city.name}}</td>
            <td><button type="button" ng-click="$ctrl.delete($index, collaborator)">Delete</button></td>
            <td ng-if="edit == true"><input type="text" ng-model="collaborator.name"></td>
            <td ng-if="edit == true"><input type="text" ng-model="collaborator.age"></td>
            <td ng-if="edit == true">
                <select>
                  <option>{{collaborator.city.name}}</option>
                </select>
            </td>
            <td ng-if="edit == true" ng-click="$ctrl.update(collaborator)"><button type="button">Modify</button></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="$ctrl.collaborator.name" placeholder="Name"></td>
            <td><input type="number" ng-model="$ctrl.collaborator.age" placeholder="Age"></td>
            <td><input type="text" ng-model="$ctrl.collaborator.city" placeholder="City"></td>
            <td><button type="button" ng-click="$ctrl.add($ctrl.collaborator, newCollaborator)">Add</button></td>
        </tr>
    </table>
</section>
